flows control robot.json
[
    {
        "id": "f811f12e50fdeef1",
        "type": "tab",
        "label": "Contrôle robot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0cbdf7f8df6fe505",
        "type": "pythonshell in",
        "z": "f811f12e50fdeef1",
        "name": "sonarTest.py",
        "pyfile": "/home/pi/python_robot_v2/francois/sonarTest.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 330,
        "y": 40,
        "wires": [
            [
                "383c079989ee74d1"
            ]
        ]
    },
    {
        "id": "383c079989ee74d1",
        "type": "ui_text",
        "z": "f811f12e50fdeef1",
        "group": "3dc33cf0c858e95b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance avec l'obstalce : ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "17599e1ba0e730cd",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "3dc33cf0c858e95b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start mesure",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "arrêté",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "0cbdf7f8df6fe505",
                "8fcd1888f781e236",
                "a7fe000b2fd22958"
            ]
        ]
    },
    {
        "id": "8fcd1888f781e236",
        "type": "mqtt out",
        "z": "f811f12e50fdeef1",
        "name": "MQTT servo",
        "topic": "servomoteur",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a429b83dd3fe3223",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "823a5c2109517796",
        "type": "pythonshell in",
        "z": "f811f12e50fdeef1",
        "name": "servoMQTT.py",
        "pyfile": "/home/pi/python_robot_v2/francois/servoMQTT.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "a7fe000b2fd22958"
            ]
        ]
    },
    {
        "id": "7bacbd78be46a3fb",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "6c4e1959392085cb",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Droite",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "droite",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "8fcd1888f781e236"
            ]
        ]
    },
    {
        "id": "fcc963df2302b40a",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "6c4e1959392085cb",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Gauche",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "gauche",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "8fcd1888f781e236"
            ]
        ]
    },
    {
        "id": "1fe525646037d558",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "6c4e1959392085cb",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Haut",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "haut",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "8fcd1888f781e236"
            ]
        ]
    },
    {
        "id": "ce36cb81271f894d",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "6c4e1959392085cb",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bas",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "bas",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "8fcd1888f781e236"
            ]
        ]
    },
    {
        "id": "58211fbca381da45",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "6c4e1959392085cb",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Centre",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "centre",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "8fcd1888f781e236"
            ]
        ]
    },
    {
        "id": "0f9ab4c7ad8795c3",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "6c4e1959392085cb",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Stop script",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "arrêté",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "8fcd1888f781e236"
            ]
        ]
    },
    {
        "id": "c6b2bef80f95088c",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "6c4e1959392085cb",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Start script",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "en cours d'exécution",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "823a5c2109517796",
                "a7fe000b2fd22958"
            ]
        ]
    },
    {
        "id": "a7fe000b2fd22958",
        "type": "ui_text",
        "z": "f811f12e50fdeef1",
        "group": "6c4e1959392085cb",
        "order": 3,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Etat du script :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "b2c4ab280b0c0da5",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "aabf3d372e4e6d41",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Marche avant",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "avant",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "7759860345ac2aef"
            ]
        ]
    },
    {
        "id": "371f65f877ebfc16",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "aabf3d372e4e6d41",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Marche arrière",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "arriere",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "7759860345ac2aef"
            ]
        ]
    },
    {
        "id": "7b9e4751f132996a",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "aabf3d372e4e6d41",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Gauche",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "gauche",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "7759860345ac2aef"
            ]
        ]
    },
    {
        "id": "4f319b892feb33be",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "aabf3d372e4e6d41",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Droite",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "droite",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "7759860345ac2aef"
            ]
        ]
    },
    {
        "id": "7759860345ac2aef",
        "type": "mqtt out",
        "z": "f811f12e50fdeef1",
        "name": "MQTT moteur",
        "topic": "moteur",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a429b83dd3fe3223",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "1820b8cf2855eb81",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "aabf3d372e4e6d41",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Stop script",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "arrêté",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "7759860345ac2aef"
            ]
        ]
    },
    {
        "id": "f0a980d4d72f522e",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "aabf3d372e4e6d41",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Start script",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "en cours d'exécution",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "7759860345ac2aef",
                "1a576c3590eb9c59",
                "fb3d3e32465e9d34"
            ]
        ]
    },
    {
        "id": "1a576c3590eb9c59",
        "type": "ui_text",
        "z": "f811f12e50fdeef1",
        "group": "aabf3d372e4e6d41",
        "order": 3,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Etat du script :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "fb3d3e32465e9d34",
        "type": "pythonshell in",
        "z": "f811f12e50fdeef1",
        "name": "motorMQTT.py",
        "pyfile": "/home/pi/python_robot_v2/francois/motorMQTT.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 760,
        "y": 420,
        "wires": [
            [
                "1a576c3590eb9c59"
            ]
        ]
    },
    {
        "id": "4de9c4a41ab04e36",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "aabf3d372e4e6d41",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 260,
        "wires": [
            [
                "7759860345ac2aef"
            ]
        ]
    },
    {
        "id": "16ebe907236fcf75",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "aabf3d372e4e6d41",
        "order": 11,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Vitesse +",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "t",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "7759860345ac2aef"
            ]
        ]
    },
    {
        "id": "290ae1da2ceaa16e",
        "type": "ui_button",
        "z": "f811f12e50fdeef1",
        "name": "",
        "group": "aabf3d372e4e6d41",
        "order": 10,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Vitesse -",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "g",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "7759860345ac2aef"
            ]
        ]
    },
    {
        "id": "f1fbc63270b5cf81",
        "type": "ui_spacer",
        "z": "f811f12e50fdeef1",
        "name": "spacer",
        "group": "aabf3d372e4e6d41",
        "order": 9,
        "width": "8",
        "height": "1"
    },
    {
        "id": "3dc33cf0c858e95b",
        "type": "ui_group",
        "name": "Sonar",
        "tab": "752f3691b0357a96",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a429b83dd3fe3223",
        "type": "mqtt-broker",
        "name": "reseau",
        "broker": "10.3.141.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6c4e1959392085cb",
        "type": "ui_group",
        "name": "Servomoteur du sonar",
        "tab": "752f3691b0357a96",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aabf3d372e4e6d41",
        "type": "ui_group",
        "name": "Moteur",
        "tab": "752f3691b0357a96",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "752f3691b0357a96",
        "type": "ui_tab",
        "name": "Contrôle robot",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]